body {
    background-color: #E7DEC8;
}

.poster{
    width: 700px;
    height: 990.06px;
}

.teks1{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
}

.teks2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 55px;
    color: #000000;
    left: 50%;
}

.teks3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.teks4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #000000;
    letter-spacing: 0.03em;
}

.teks5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.02em;
    top: 8px;
}

.j1{
    text-align: center;
    background-color: #E7DEC8 ;
}

.j2{
    background-color: #CBAF87;
}

.mono{
    width: 400px;
    height: 360px;
    top: 20px;
    position: absolute;
}

.parent{
    position: relative;
}

.container {
    position: relative;
}


.nameposter{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bolder;
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 0.08em;
    color: #503E3E;
    position: absolute;
    top: 835px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.price{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.04em;
    color: #473434;
    position: absolute;
    top: 930px;
    left: 52.4%;
    transform: translate(-50%, -50%);
}

.arrow{
    width: 48px;
    height: 32px;
}

.mono{
    width: 310px;
    height: 290px;
    margin-left: 20px;
}

.midel{
    text-align: center;
}

table, th, td {
    border: 2px solid black;
}

.footer{
    width: 100%;
    height: 55px;
    background-color: #7E8A97;
    color: white;
    padding: 6px;
}

.kanan{
    text-align: end;
    right: 5px;
}

.icon1{
    width: 36px;
    height: 41px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.icon2{
    width: 34px;
    height: 34px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.icon3{
    width: 39px;
    height: 39px;
    padding-top: 1px;
    padding-bottom: 1px;
}
